:root {
  /* Colors */
  --grey-100: #1e1e1c;
  --grey-200: #252527;
  --grey-300: #2a2a27;
  --grey-400: #6e6e6e;

  --white-100: #fff6df;

  /* fonts */
  font-family: Source Code Pro, serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /**/
  background-color: var(--grey-100);
  color: var(--white-100);
}

body {
  font-size: 1.6rem;
}

.navbar {
  background-color: var(--grey-400);
  height: 5vh;
  width: 100vw;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.nav-social {
  align-self: center;
  text-align: left;
  padding-left: 1vw;
  width: 33vw;
}
.nav-menu {
  align-self: flex-end;
  color: #252527;
  align-items: baseline;
  text-align: center;
  padding-bottom: 0.2vh;
  width: 33vw;
}

.nav-contact {
  align-self: center;
  text-align: right;
  padding-right: 1vw;
  width: 33vw;
}

.follow-btn {
  box-shadow: none;
  background-color: #252527;
}

/* links  */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* icons  */
.drk-icon {
  color: var(--grey-300);
}

#nav-email-icon {
  color: var(--white-100);
  background-color: var(--grey-200);
  font: 30rem;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: var(--grey-200);
  color: var(--white-100);
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

button:hover,
button:focus {
  background: var(--grey-300);
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
.follow-btn {
  border-radius: 2rem;
}

.email-btn {
  color: var(--white-100);
  padding: 1rem;
  border-radius: 3rem;
}

.welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
