html {
  background-color: #1c1c1a;
}

body {
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
}

#navbar {
  position: fixed;
  width: 200px;
  top: 0px;
  left: 0px;
  background-color: #333;
  height: 100vh;
  color: white;
  padding-top: 20px;
}

#navbar header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

#navbar a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #555;
}

#main-doc {
  margin-left: 220px;
  padding: 20px;
  max-width: 800px;
  background-color: #1c1c1a;
  color: #fff6df;
}

.main-section {
  margin-bottom: 40px;
}

pre {
  background-color: rgb(35, 35, 33);
  padding: 10px;
  border-left: 3px solid rgb(72, 72, 67);
}

ul {
  padding-left: 20px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  #navbar {
    position: relative;
    width: 100%;
    height: auto;
  }

  #main-doc {
    margin-left: 0;
  }
}
