

.logo-img {
  width:100px;
  
}

.logo {
  display: inline-block;
  color: blue;

}

.logo-text {
  padding: 0; 
  margin: -25px;
}

h1 {
  display: inline-block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-
}
